In [1]:
import pandas as pd
import numpy as np
import statistics as stats
#import plotly.express as px

In [2]:
pd.set_option('display.max_columns', 100)

In [3]:
mh = pd.read_csv('Melbourne_housing.csv')
display(mh.head())
display(mh.shape)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

(34857, 21)

### EDA

In [4]:
mh.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

### Deal with column names

In [5]:
#convert column names to lower case
lower = []
for i in mh.columns:
    lower.append(i.lower())
mh.columns = lower

In [6]:
mh.head()

,suburb,address,rooms,type,price,method,sellerg,date,distance,postcode,bedroom2,bathroom,car,landsize,buildingarea,yearbuilt,councilarea,lattitude,longtitude,regionname,propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

#### We can see that there are various null values in our dataset, and will have to deal with those before we can begin to use the data

In [7]:
#The below Nan values are not very numerous, so we will drop these. 


#distance - 1 - drop
#postcode 1 - drop
#councilarea - 3 - drop
#regionname - 3 - drop
#propertycount - 3 - drop

coldrop = 'distance','postcode','councilarea','regionname','propertycount'

mh.dropna(subset=coldrop, inplace = True)
mh = mh.reset_index(drop = True)

In [8]:
mh.isna().sum()

suburb               0
address              0
rooms                0
type                 0
price             7610
method               0
sellerg              0
date                 0
distance             0
postcode             0
bedroom2          8214
bathroom          8223
car               8725
landsize         11807
buildingarea     21112
yearbuilt        19303
councilarea          0
lattitude         7973
longtitude        7973
regionname           0
propertycount        0
dtype: int64

In [9]:
#Fillna with averages (mode and median) - midpoint for certain numbers which are not completely similar. 

#Bedroom2 - 8217 - mode
mh['bedroom2'] = mh['bedroom2'].fillna(stats.mode(mh['bedroom2']))
#Bathroom - 8226 - mode
mh['bathroom'] = mh['bathroom'].fillna(stats.mode(mh['bathroom']))
#Car - 8728 - mode
mh['car'] = mh['car'].fillna(stats.mode(mh['car']))
#YearBuilt - 19306  - mode
mh['yearbuilt'] = mh['yearbuilt'].fillna(stats.mode(mh['yearbuilt']))   


#Landsize - 11810 - midpoint of mean and median.
mh['landsize'] = mh['landsize'].fillna(mh['landsize'].mean() - ((mh['landsize'].mean() - mh['landsize'].median())/2))
#BuildingArea - 21115  - midpoint of mean and median.
mh['buildingarea'] = mh['buildingarea'].fillna(mh['buildingarea'].mean() - ((mh['buildingarea'].mean() - mh['buildingarea'].median())/2))

In [10]:
mh.isna().sum()

suburb              0
address             0
rooms               0
type                0
price            7610
method              0
sellerg             0
date                0
distance            0
postcode            0
bedroom2            0
bathroom            0
car                 0
landsize            0
buildingarea        0
yearbuilt           0
councilarea         0
lattitude        7973
longtitude       7973
regionname          0
propertycount       0
dtype: int64

In [11]:
display(mh.head())
display(mh.shape)

,suburb,address,rooms,type,price,method,sellerg,date,distance,postcode,bedroom2,bathroom,car,landsize,buildingarea,yearbuilt,councilarea,lattitude,longtitude,regionname,propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,2.0,1.0,1.0,126.0,148.1282,1970.0,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,148.1282,1970.0,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0000,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,3.0,2.0,1.0,0.0,148.1282,1970.0,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0000,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

(34854, 21)

In [12]:
mh.dtypes

suburb            object
address           object
rooms              int64
type              object
price            float64
method            object
sellerg           object
date              object
distance         float64
postcode         float64
bedroom2         float64
bathroom         float64
car              float64
landsize         float64
buildingarea     float64
yearbuilt        float64
councilarea       object
lattitude        float64
longtitude       float64
regionname        object
propertycount    float64
dtype: object

### Cleaning

In [13]:
####address####

#capitalise the strings in suburb
mh['suburb'] = mh['suburb'].str.capitalize()

#extract street into new column. 
mh['streetname'] = mh['address'].str.split(" ",n=1,expand=True)[1]



####date####
#datetime format
mh['date'] = pd.to_datetime(mh['date'], format = '%d/%m/%Y')

#year column
mh['year'] = mh['date'].dt.year

#month column
mh['month'] = mh['date'].dt.month_name()




####postcode####   
#change to string and remove the '.0'
mh['postcode'] = mh['postcode'].astype(int)
mh['postcode'] = mh['postcode'].astype(str)


#councilarea - removing 'city council' from string, as it is always present. 
mh['councilarea'] = mh['councilarea'].str.split(' City ', n=1, expand = True)[0]




####Change Columns to integer, rather than float

#bedroom2
mh['bedroom2'] = mh['bedroom2'].astype(int)

#bathroom 
mh['bathroom'] = mh['bathroom'].astype(int)

#car
mh['car'] = mh['car'].astype(int)

#landsize
mh['landsize'] = mh['landsize'].astype(int)

#buildingarea 
mh['buildingarea'] = mh['buildingarea'].astype(int)


#propertycount
mh['propertycount'] = mh['propertycount'].astype(int)


#yearbuilt 
mh['yearbuilt'] = mh['yearbuilt'].astype(str).str.split('.',n=1,expand = True)[0]


#filter years into useable decades

years = []

for i in mh['yearbuilt'].astype(int):
    if i < 1860:
        years.append('1850s')
    elif i < 1870:
        years.append('1860s')  
    elif i < 1880:
        years.append('1870s') 
    elif i < 1890:
        years.append('1880s')  
    elif i < 1900:
        years.append('1890s')  
    elif i < 1910:
        years.append('1900s')  
    elif i < 1920:
        years.append('1910s')  
    elif i < 1930:
        years.append('1920s')  
    elif i < 1940:
        years.append('1930s')  
    elif i < 1950:
        years.append('1940s')  
    elif i < 1960:
        years.append('1950s')  
    elif i < 1970:
        years.append('1960s')      
    elif i < 1980:
        years.append('1970s') 
    elif i < 1990:
        years.append('1980s')  
    elif i < 2000:
        years.append('1990s')  
    elif i < 2010:
        years.append('2000s')  
    elif i < 2020:
        years.append('2010s')     
    elif i < 2030:
        years.append('2020s') 
    else:
        years.append('drop')
    
    
mh['builddecade'] = years    
mh = mh[mh['builddecade'] != 'drop'].reset_index(drop = True)


#Define a function to fill nan values depending on mode of postcode, suburb and council area

def cleanlatlong(x):
    
    fillnaslatlong = []
    for i in range(len(mh[x])):
        if pd.isna(mh[x][i]):
            nonas = mh[mh[x].isna() == False]
            matchingcouncilarea = nonas[nonas['councilarea'] == mh['councilarea'][i]]
            matchingsuburbdf = matchingcouncilarea[matchingcouncilarea['suburb']==mh['suburb'][i]]
            matchingpostcodedf = matchingsuburbdf[matchingsuburbdf['postcode']==mh['postcode'][i]]
            if len(matchingpostcodedf[x].mode()) > 1:
                fillnaslatlong.append(matchingpostcodedf[x].mode()[0])
            else:
                if len(matchingsuburbdf[x].mode()) > 1:
                    fillnaslatlong.append(matchingsuburbdf[x].mode()[0])
                else:
                    fillnaslatlong.append(matchingcouncilarea[x].mode()[0])
        else:
            fillnaslatlong.append(mh[x][i])
            
    
    mh[x] = fillnaslatlong
    
    return mh[x]


#lattitude
mh['lattitude'] = cleanlatlong('lattitude')

#longtitude
mh['longtitude'] = cleanlatlong('longtitude')



#change column names
mh = mh.rename(columns={"distance": "distancefromcentre(miles)", "lattitude": "lat", "longtitude": "long","price":'price_$aus'})

### The "price_$aus" field is too sensitive to be able to fill with any generic values. We will create a regression model to accurately predict the price for these afterwards.

In [14]:
validationmel = mh[mh['price_$aus'].isna() == True]
trainmel = mh[mh['price_$aus'].isna() == False]

In [15]:
len(validationmel)

7609

In [16]:
len(trainmel)

27244

In [17]:
#export these dataframes to csv
validationmel.to_csv('melbourne_validation_set.csv', index = False)
trainmel.to_csv('melbourne_train_set.csv', index = False)